body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #003366;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    background: white;
    position: absolute;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

/* HERO */
.hero {
    background: url('../images/banner.jpg');
    text-align: center;
    padding: 120px 30px;
    color: white;
    background-size: cover;
}

.btn {
    background: #ff6600;
    padding: 12px 22px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn-small {
    border-radius: 5px;
    background: #323334;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
}

/* GRID */
.package-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 40px;
}

.package-card {
    background: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
}

.package-card img {
    width: 100%;
    height: 180px;
}

.price {
    font-weight: bold;
    color: rgb(38, 39, 38);
}

/* DETAILS */
.details-container {
    display: flex;
    padding: 40px;
    gap: 30px;
}

.big-img {
    width: 100%;
    height: 280px;
}

#map {
    width: 350px;
    height: 350px;
    background: #ddd;
}

/* FORM */
.form-container {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
}

.form-container input, .form-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* SUCCESS PAGE */
.success-box {
    text-align: center;
    padding: 50px;
    background: white;
    margin: 100px auto;
    width: 400px;
    border-radius: 10px;
}

.success-box h1 {
    color: #28a745;
}

.success-box p {
    font-size: 18px;
    margin: 20px 0;
}

.success-box .btn {
    background: #003366;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #003366;
    color: white;
    margin-top: 50px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .package-grid {
        flex-direction: column;
        align-items: center;
    }

    .details-container {
        flex-direction: column;
        align-items: center;
    }
}   

/* IGNORE BELOW THIS LINE */
